<%= form_with model: employee do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
  </div><br/>

  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email_id %>
  </div><br/>

  <div>
    <%= form.label :phone_number %><br>
    <%= form.text_field :phone_number, required: true %>
  </div><br/>

  <div>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </div><br/>

  <div>
    <%= form.submit %>
  </div>
<% end %>